
body {
        background-color: black;
        color: aliceblue;
      }
* {
        margin: 0%;
        padding: 0%;
      }
.left {
        font-size: 10px;
      }
.first {
        display: flex;
        justify-content: space-around;
        margin: 23px 0;
        margin-left: 35px;
      }
.rightsection img {
        height: 450px;
        width: 450px;
        margin: 50px 0;
        /* margin-right: 50px; */
      }
      a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
      }
      .leftsection {
        font-size: 3rem;
        margin-top: 150px;
      }
      .red {
        color: rgb(255, 251, 0);
      }
      #element {
        color: gold;
      }
      footer ul {
        display: flex;
        justify-content: space-around;
        align-items: flex;
      }
img {
        height: 550px;
        width: auto;
        display: flex;
        border-radius: 13px;
      }
      h6 {
        font-size: 20px;
        background-color: gold;
        color: black;
        margin-bottom: 20px;
        margin-left: 0px;
        text-align: center;
        font-weight: 2000;
      }
      h6:hover {
        background-color: aqua;
        color: black;
      }
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  color: aqua;
  margin-left: 5px;

}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul button:hover{
  color: rgb(255, 255, 255);
  background-color:aqua;
}
.left{
 font-size:1.8rem;

}
.first{
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
  margin-left: 35px;
}
.rightsection img{
  height: 500px;
 width: 500px;
 margin: 50px 0;
/* margin-right: 50px; */
}

nav ul a{
  text-decoration: none;
  color:gold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 5rem;
  list-style: none;
  margin: 0 23px; /* Adjust the horizontal spacing */
    width: 2cm;
    height: 0.6cm;
    border-radius: 5px;
    border-color: white;
    padding: 5px 10px;
}
a:hover{
  color: aqua;
}
.leftsection{
  font-size: 3rem;
  margin-top: 190px;
}
.red{
  color: rgb(255, 251, 0);
}
#element{
  color: gold;
}
footer ul{
  display: flex;
  justify-content: space-around;
  align-items: flex;
}
img{
  height: 40px;
  width: 40px;
display: flex;
  
}
h6{
  font-size: 20px;
  background-color:gold;
  color: black;
  margin-bottom: 20px;
  margin-left: 0px;
  text-align: center;
  font-weight: 2000;
}
h6:hover{
  background-color: aqua;
  color: rgb(255, 255, 255);
}
hr{
  width: 1600px;
  margin-left: 30px;
  border: 0cap;
  height: 5px;
  background-color: gold;
}
.element{
  color: rgb(255, 255, 255);
  text-align: center;
  border: 5px solid gold;
  width: 200px;
  margin-left: 750px;
  height: 45px;
  margin-top: 1cm;
}
.element:hover{
  color: aqua;
  transition: color 0.3s ease;
  
}
.red{
  text-align: none;
}
.firstpagefirstline{
  margin-top: -15px;
  height: 2px;
  width:1040px;
  background-color: gray;
}
/* ____________________________________________firstpageendhere__________________________ */
.kanhasecondimage{
  background-size: cover;
  height: 550px;
  width: auto;
}
.secondpageleftsection{
  margin-top: 155px;
}
.secondpagerightsection{
  margin-top: 55px;
}
.secondpagefirstline{
  white-space: nowrap;
  align-items: center;
  margin-top: -15cm;
  margin-left: 850px;
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.secondpage2ndline{
  margin-top: 0.5cm;
white-space: nowrap;
margin-left: 18cm;
font-size: 16px;
opacity: 65%;
}
.secondpage3rdline{
  margin-left: 18cm;
  margin-top: 1cm;
  white-space: nowrap;
  font-size: 25px;
}
.secondpage4thline{
  margin-left: 18cm;
  margin-top: 30px;
  font-size: 25px;
  white-space: nowrap;
}
.secondpage5thline{
  margin-left: 18cm;
  margin-top: 25px;
  font-size: 25px;
  line-height: 1;
  white-space: nowrap;
}
span + a {
  margin-left:7px;
}
.secondpage1stbutton{
  margin-left: 18cm;
  margin-top: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 3.5cm;
  height: 0.9cm;
  white-space: nowrap;
  border-radius: 9px;
  font-weight: 500;
  font-weight: bold;
  border-color: rgb(204, 203, 203) ;
  background-color:gold;
  color: black;
  cursor: pointer;
}
.secondpage1stbutton:hover{
  background-color: aqua;
  color: black;
  cursor: pointer;
  border-color: black;
}
.secondpagelastline{
  /* margin-top: -15px; */
  height: 2px;
  width: 1040px;
  background-color: gray;
}

/* _________________________________seconnd page end here_______________________________________ */

.firstgif{
  margin-top: -80vh;
  margin-left: 19cm;
  height: 450px;
  width: auto;
  background-size: cover;
}
.thirdpage{
  display: grid;
  gap: 1cm;
}
.thirdpage1stline{
  margin-top: 5cm;
  margin-left: 250px;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.calculator{
  margin-top: 100px;
  display: flex;
  margin-left: 80px;
  gap: 1cm;
  align-items: center;
}
.thirdpagefirstline{
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.calculatorlink{

  font-size: 20px;
  margin-left: 100px;
}
.calculator i{
font-size: 5.5rem;
}
.netflix{
  margin-top:60px;
  display: flex;
  margin-left: 65px;
  gap: 1cm;
  align-items: center;
}
.thirdpagesecondline{
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.netflixlink{
  font-size: 20px;
  margin-left: 60px;
}
.netflix i{
  font-size: 5.5rem;
}
.portfolio{
  margin-top:50px;
  display: flex;
  margin-left: 65px;
  gap: 1cm;
  align-items: center;
}
.thirdpage3rdline{
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-left: 30px;
}
.portfoliolink{
  font-size: 20px;
  margin-left: 35px;
}
.portfolio i{
  font-size: 5.5rem;
}
.sikshita{
  margin-top:50px;
  display: flex;
  margin-left: 65px;
  gap: 1cm;
  align-items: center;
}
.sikshita i{
  font-size: 3.8rem;
}
.thirdpage4thline{
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-left: 8px;
}
.sikshitalink{
  font-size: 20px; 
  margin-left: 38px;
}


















/* ______________________mediaqueries_____________________________________ */
@media only screen and (min-width: 200px) and (max-width: 600px){
.left{
  font-size: 1.2rem;
  white-space: nowrap;
}
.rightsection img{
  height: 750px;
  width: auto;
  margin-left: 80px;
  margin-top: 9px;
}
.leftsection{
  font-size: 1.5rem;
  margin-top: 100px;
  white-space: nowrap;
}
a{
  text-decoration: none;
  color:gold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 10px;
  list-style: none;
  margin: 10 23px; /* Adjust the horizontal spacing */
    width: 0.3cm;
    height: 0.6cm;
    border-radius: 5px;
    border-color: white;
    padding: 5px 10px;
    margin-left: 80px;
    font-size: 20px;
}
.firstpagefirstline{
  height: 2px;
  width: 690px;
  background-color: gray;
}
}
/* _____________________tablet___________________________ */
@media only screen and (max-width: 800px){
  .firstpagefirstline{
    height: 2px;
    width: 800px;
    background-color: gray;
  }
  .rightsection img {
    height: 550px;
    width: auto;
  margin-left: 500px;
  }
.left{
  font-size:2.8rem;
 }
 nav ul{
  margin-left: 200px;
}
nav ul a{
  text-decoration: none;
  color:gold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 20px;
  list-style: none;
  margin: 0 60px; /* Adjust the horizontal spacing */
    width: 2cm;
    height: 0.6cm;
    border-radius: 5px;
    border-color: white;
    padding: 5px 10px;
    font-size: 35px;
}
.leftsection{
  font-size: 40px;
}
}
@media only screen and (max-width: 2570px){
  .firstgif{
    margin-top: -15cm;
    margin-left: 19cm;
    height: 450px;
    width: auto;
    background-size: cover;}
    .secondpagelastline{
      margin-top: 110px;
      height: 2px;
      width: 100px;
      background-color: gray;
    }
    .firstpagefirstline{
      margin-top: -15px;
      height: 2px;
      width: auto;
      background-color: gray;
    }
    .secondpagelastline{
      height: 2px;
      width: auto;
      background-color: gray;
    }
}
@media only screen and (max-width: 1445px){
  .firstgif{
    margin-top: -15cm;
    margin-left: 19cm;
    height: 450px;
    width: auto;
    background-size: cover;}

    .firstpagefirstline{
      margin-top: -15px;
      height: 2px;
      width: 1550px;
      background-color: gray;
    }
    .secondpagelastline{
      height: 2px;
      width: auto;
      background-color: gray;
      width: 1550px;
    }
}

