nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  color: aqua;
  margin-left: 5px;

}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul button{
  list-style: none;
  margin: 0 23px;
  color: rgb(0, 0, 0);
  background-color: gold;
  width: 2cm;
  height: 0.6cm;
  border-radius: 5px;
  border-color: azure;
}
nav ul button:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(0, 234, 255);
}
.left{
 font-size: 1.7rem;

}
.first{
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
  margin-left: 35px;
}
.rightsection img{
  height: 450px;
 width: 450px;
 margin: 50px 0;
/* margin-right: 50px; */
}
a{
  text-decoration: none;
  color: black;
font-weight: bold;

}
.leftsection{
  font-size: 3rem;
  margin-top: 150px;
}
.red{
  color: rgb(255, 251, 0);
}
#element{
  color: gold;
}
footer ul{
  display: flex;
  justify-content: space-around;
  align-items: flex;
}
img{
  height: 40px;
  width: 40px;
display: flex;
  
}
h6{
  font-size: 20px;
  background-color:gold;
  color: black;
  margin-bottom: 20px;
  margin-left: 0px;
  text-align: center;
  font-weight: 2000;
}
h6:hover{
  background-color: aqua;
  color: black;
}
hr{
  width: 1600px;
  margin-left: 30px;
  border: 0cap;
  height: 5px;
  background-color: gold;
}
.element{
  color: rgb(255, 255, 255);
  text-align: center;
  border: 5px solid gold;
  width: 200px;
  margin-left: 750px;
  height: 45px;
  margin-top: 1cm;
}
.element:hover{
  color: aqua;
  transition: color 0.3s ease;
  
}
.line1{
  height: 50px;
  width: 80px;
  background-color: gold;
  margin-left: 820px;
  
}
.linee{
  height: 50px;
  width: 5px;
  background-color: gold;
  margin-left: 850px;
  
}
.ranjan{
  width: 1450px;
  margin-left: 100px;
}
.box{
  margin-left: 70px;
display: flex;
gap: 296.5px;
}
.vertical{

  height: 800px;
  width: 5px;
  background-color: gold;
  margin : 0 30px;
}
.nayak{
  display: flex;
  gap: 260px;
}
.hmtl{
  height: 100px;
  width: 100px;
  margin-left: 55px;
}
.css{
  height: 100px;
  width: 100px;
}
.javascript{
  height: 100px;
  width: 100px;
}
.java{
  height: 100px;
  width: 100px;
}
.python{
  height: 100px;
  width: 100px;
}
.lastfooter{
  background-color: rgb(50, 50, 50);
  width: 1658px;
  height: 200px;
}
.copyright{
text-align: center;
}
.reserved{
  text-align: center;}



